        <h2>User info</h2>
        <table class="table">
          <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
          <tr><th><strong>name</strong></th><th><%= user.name %></th></tr>
          <tr><th><strong>introduction</strong></th><th><%= user.introduction %></th></tr>
        </table>
        <div class="row">
         <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog"></i>
         <% end %>
        </div>

        <h2 class="mt-3">New book</h2>
        <%= form_with model: book do |f| %>
          <div class="form-group">
            <label for="inputTitle">Title</label>
            <p><%= f.text_field :title, id:"inputTitle", class:"form-control book_title" %></p>
          </div>
          <div class="form-group">
            <label for="inputOpinion">Opinion</label>
            <p><%= f.text_area :body, id:"inputOpinion", class:"form-control book_body" %></p>
          </div>
          <div class="form-group">
            <%= f.submit 'Create Book', class:"btn btn-success" %>
          </div>
        <% end %>