<!--ここから左側部分-->
<%= render 'book', user: @user, book: @book %>

<!--ここまでが左側部分-->

<!--ここから右側部分-->
<h2>Books</h2>
<table>
  <thead>
    <tr><th></th><th>Title</th><th>Opinion</th></tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user) do %><!--user.get_profile_image(100, 100)でワンセット-->
          <%= image_tag book.user.get_profile_image(100, 100) %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>